<div class="container-fluid">
	<main>
		<h2>Edit Article</h2>

		<%= render "form.html", Map.put(assigns, :action, article_path(@conn, :update, @article)) %>

		<span><%= link "Back", to: article_path(@conn, :index) %></span>
	</main>
</div>
