<div class="container-fluid">
  <main>
    <h2>Articles</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for article <- @articles do %>
        <tr>
          <td><%= article.title %></td>

          <td class="text-right invisible">
            <span><%= link "Show", to: article_path(@conn, :show, article), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Edit", to: article_path(@conn, :edit, article), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Delete", to: article_path(@conn, :delete, article), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span class="invisible"><%= link "New Article", to: article_path(@conn, :new) %></span>
    
  </main>
</div>
