<div class="container-fluid">
	<main>	
		<h2>Show Article</h2>

		<ul>

		  <li>
		    <strong>Title:</strong>
		    <%= @article.title %>
		  </li>

		  <li>
		    <strong>Body:</strong>
		    <%= @article.body %>
		  </li>

		</ul>

		<span><%= link "Edit", to: article_path(@conn, :edit, @article) %></span>
		<span><%= link "Back", to: article_path(@conn, :index) %></span>
	</main>
</div>
