<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Uk">

    <title>VigilantCitizens</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="<%= static_path(@conn, "/images/powerfist-favicon.png") %>" sizes="16x16 32x32" type="image/png">
    <script src="<%= static_path(@conn, "/vendor/responsiveVoice.js") %>"></script>
    <script type="text/javascript">
      function sayIt(text) {
        responsiveVoice.setDefaultVoice("US English Male");
        responsiveVoice.speak(text);
      }

      function stopSayingIt() {
        responsiveVoice.cancel();
      }
    </script>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%# <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) </p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error)</p> %>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
