<div class="row">
  <div class="col-sm-12 col-md-6 mx-auto">
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong!</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :date, class: "control-label" %>
    <%= text_input f, :date, class: "form-control" %>
    <%= error_tag f, :date %>
  </div>

  <div class="form-group">
    <%= label f, :defendant_id, class: "control-label" %>
    <%= select f, :defendant_id, @defendants, class: "form-control", prompt: "Select a defendant" %>
    <%= error_tag f, :defendant_id %>
  </div>

  <div class="form-group">
    <%= label f, :remarks, class: "control-label" %>
    <%= textarea f, :remarks, class: "form-control" %>
    <%= error_tag f, :remarks %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
  </div>
</div>
<% end %>
