<div class="container-fluid">
  <main>
    <h2>Events</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Case</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for court_appearance <- @court_appearances do %>
        <tr>
          <td><%= court_appearance.date %></td>
          <td><%= court_appearance.defendant.name %></td>

          <td class="text-right invisible">
            <span><%= link "Show", to: court_appearance_path(@conn, :show, court_appearance), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Edit", to: court_appearance_path(@conn, :edit, court_appearance), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Delete", to: court_appearance_path(@conn, :delete, court_appearance), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span class="invisible"><%= link "New event", to: court_appearance_path(@conn, :new) %></span>
    
  </main>
</div>
