<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h2 class="display-3"><img src="images/powerfist-logo.png" alt="corruptasker-logo">VigilantCitizens</h2>
    <p class="lead">Curbing the menace of corruption in Nigeria. One step at a time.</p>
    <section class="row">
      <div class="center">
        <a href="/twitter-auth" class="btn">
  <i class="fa fa-twitter" aria-hidden="true"></i> Share on your Twitter timeline</a>
      </div>
    </section>
  </div>
</div>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/"><strong>Anti-Corruption Cases</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/learn"><strong>Anti-Corruption Education</strong></a>
  </li>
</ul>
<section class="" style="display:flex;margin-top:50px;padding:0 5px;">
  <div class="row">
    <%= for article <- @articles do %>
    <div class="col-sm-12 col-md-4 mb-2">
      <div class="card mb-2 h-100 p-3">
        <div class="card-body">
          <h3 class="d-inline-block"><%= article.title %></h3>
          <p><%= String.slice(article.body, 0, 117) <> "..." %></p>
          
        </div>
        <div class="footer">
          <button type="button" class="btn" data-toggle="modal" data-target="#<%= "modal#{article.id}" %>">
          <i class="fa fa-book"></i> Read More
          </button>

          <!-- Modal -->
          <div class="modal fade" id="<%= "modal#{article.id}" %>" tabindex="-1" role="dialog" aria-labelledby="<%= "modal#{article.id}Label" %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="<%= "modal#{article.id}Label" %>"><%= article.title %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id="<%= "modal-#{article.id}-text" %>"><%= article.body %></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
          </div>
          <button class="btn float-right read" data-article-id="<%= article.id %>"><i class="fa fa-volume-up"></i> Read to me</button>
        </div>
      </div>
    </div>
    <% end %>    
  </div>
</section>