<div class="container-fluid">
	<main>
		<h2>Edit Case</h2>

		<%= render "form.html", Map.put(assigns, :action, defendant_path(@conn, :update, @defendant)) %>

		<span><%= link "Back", to: defendant_path(@conn, :index) %></span>
	</main>
</div>
