<div class="container-fluid">
  <main>
    
    <h2>Cases</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for defendant <- @defendants do %>
        <tr>
          <td><%= defendant.name %></td>

          <td class="text-right invisible">
            <span><%= link "Show", to: defendant_path(@conn, :show, defendant), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Edit", to: defendant_path(@conn, :edit, defendant), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Delete", to: defendant_path(@conn, :delete, defendant), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span class="invisible"><%= link "New Defendant", to: defendant_path(@conn, :new) %></span>
  </main>
</div>
