<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :access_token, class: "control-label" %>
    <%= text_input f, :access_token, class: "form-control" %>
    <%= error_tag f, :access_token %>
  </div>

  <div class="form-group">
    <%= label f, :access_token_secret, class: "control-label" %>
    <%= text_input f, :access_token_secret, class: "form-control" %>
    <%= error_tag f, :access_token_secret %>
  </div>

  <div class="form-group">
    <%= label f, :handle, class: "control-label" %>
    <%= text_input f, :handle, class: "form-control" %>
    <%= error_tag f, :handle %>
  </div>

  <div class="form-group">
    <%= label f, :twitter_id, class: "control-label" %>
    <%= number_input f, :twitter_id, class: "form-control" %>
    <%= error_tag f, :twitter_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
