<div class="container-fluid">
  <main>
    <h2>Users</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Twitter Handle</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for user <- @users do %>
        <tr>
          <td><%= user.twitter_id %></td>
          <td><%= "@" <> user.handle %></td>

          <td class="text-right invisible">
            <span><%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-sm" %></span>
            <span><%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span class="invisible"><%= link "New User", to: user_path(@conn, :new) %></span>
    
  </main>
</div>
